.farm {
  --farm_tx: var(--clr_white);
  --shadow: var(--clr_void);
  --shade: rgba(26,26,26,0.75);
  --input: rgba(26,26,26,0.3);
  --input_tx: var(--clr_pearl);
  --farm_border: var(--clr_lightnavy);
  --farm_card_tx: var(--clr_black);
  --farm_card_bg: var(--clr_pearl);
  --farm_card_border: var(--clr_darkgray);

  --w: 5rem;/*calc(100vw/8);*/
  --h: 6rem;/*calc(1.2*var(--w));*/
  --i: 2rem;

  display: grid;
  gap: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
}

#Characters, #Weapons{
  width: 100vw;
}

.farm-row {
  display: grid;
  width: 100%;
  margin-bottom: 0.4rem;
  grid-template-columns: minmax(7rem, 1fr) max-content;
  grid-template-rows: max-content max-content;
  background-color: var(--color);
  color: var(--farm_tx);
}

.farm-char{
  grid-row: span 2;
  display: grid;
  font-weight: bolder;
  place-content: center;
  place-items: center;
}

.farm-name{
  text-align: center;
  text-shadow: 0 0 0.7rem var(--shadow);
}

.farm-char .image{
  max-width: var(--w);
  max-height: var(--h);
}

.farm-asc, .farm-tln, .farm-wpndata{
  display: grid;
  gap: 0.07rem;
  grid-auto-flow: column;
  place-content: center start;
}

.farm-asc{
  border-bottom: 0.2rem solid var(--farm_border);
}

.farm-inp {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  width: 4rem;
  padding: 0.2rem 0;
  place-content: space-around space-between;
}

.farm-inp input[type=text]{
  width: var(--i);
  border-radius: 3rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--shade);
  color: var(--input_tx);
}

.farm-inp input:nth-of-type(2n){
  background-color: var(--input);
}

.container{
  position: relative;
  width: var(--w);
  height: var(--h);
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  place-content: center stretch;
  color: var(--farm_card_tx);
}

.item:only-child{
  --cw: var(--w);
  --ch: var(--h);
  font-size: 1rem;
}

.item:not(:only-child){
  --cw: calc(var(--w)/2);
  --ch: calc(var(--h)/2);
  font-size: 0.9rem;
}

.item{
  display: grid;
  width: var(--cw);
  height: var(--ch);
  border-radius: .2rem;
  grid-template-rows: calc(100%*5/6) calc(100%/6);
  place-items: center;
  overflow: hidden;
  background-size: cover;
}

.image{
  max-width: 100%;
  max-height: calc(100%*5/6);
}

.item:not(:only-child) .need{
  width: 100%;
  line-height: 0.9rem;
  place-self: end start;
  align-items: center;
  text-align: center;
  background-color: var(--farm_card_bg);
}

.total{
  grid-column: 1;
  grid-row: 1;
  display: grid;
  border-radius: 0.4rem;
  width: calc(var(--w)/2);
  height: calc(var(--h)/2);
  border: 0.1rem solid var(--farm_card_border);
  place-items: center;
  background-color: var(--farm_card_bg);
}

.total:nth-child(3){
  grid-column: span 2;
}

.total:nth-child(5){
  position: absolute;
  place-self: start center;
  height: 25%;
  opacity: 0.75;
}

.farm-wpn{
  display: grid;
  font-weight: bolder;
  place-content: center;
  place-items: center;
}

.farm-wpn .image{
  max-width: calc(0.6*var(--w));
  max-height: calc(0.6*var(--h));
}

.farm-wpndata{
  display: grid;
  grid-auto-flow: column;
  place-content: center start;
}

@media screen and (min-width: 700px) {
  .farm-row{
    grid-template-columns: 7rem repeat(2, max-content);
    grid-template-rows: 1fr 0;
    place-content: space-around;
  }

  .weapons{
    grid-template-columns: minmax(min-content, 25rem) repeat(1, max-content);
    grid-template-rows: max-content;
    place-content: start;
    gap: 4rem;
    padding-left: 2rem;
  }

  .farm-asc, .farm-tln, .farm-wpndata{
    gap: 0.4rem;
  }

  .farm-asc{
    border: none;
  }

  .farm-inp {
    width: 4.4rem;
    margin-right: 0.5rem;
  }

  .farm-wpn{
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .farm-wpn .image{
    max-width: var(--w);
    max-height: var(--h);
  }
}

@media screen and (min-width: 840px) {
  .ct{
    width: calc(1.6*var(--w));
    grid-template-columns: repeat(3, min-content);
  }

  .total{
    width: calc(var(--w)*3/5);
    position: relative !important;
    grid-row: 1/3;
    grid-column: 1 !important;
    place-self: center !important;
    height: 100% !important;
    opacity: 1 !important;
  }
}

@media screen and (min-width: 1280px) {
  .ct{
    width: calc(3.6*var(--w));
    grid-template-columns: repeat(5, min-content);
  }

  .farm-asc .ct:nth-child(2),
  .farm-wpndata .ct:nth-child(2){
    width: calc(4.6*var(--w));
  }

  .item{
    width: var(--w);
    height: var(--h);
  }
}

@media screen and (min-width: 1400px) {
  html{
    font-size: 68.2%;
  }
}

@media screen and (min-width: 1500px) {
  html{
    font-size: 74%;
  }
}