/*FORM*/
.i-form {
  --form-bg: var(--clr-navy);
  --form-tx: var(--clr-black);
  --form-input: var(--clr-white);
  --form-border: var(--clr-lightgray);
  --form-outline: var(--clr-darkgray);

  --border: 1.25vw;
  --spacing: 1.5vw;
  --outline: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--form-bg);
}

.i-content {
  --content-border: var(--form-border);
  --content-outline: var(--form-outline);
  --content-bg: var(--form-input);
  --content-tx: var(--form-text);

  width: 90vw;
  line-height: 20vw;
  -webkit-border-radius: 30vw;
  border-radius: 100vw;
  outline: none;
  border: var(--border) solid var(--content-border);
  box-shadow: 0 0 0 var(--spacing) var(--form-bg),
    0 0 0 calc(var(--spacing) + var(--outline)) var(--content-outline) ;
  
  background-color: var(--content-bg);
  color: var(--content-tx);
  text-align: center;
}

.i-label {
  --content-border: var(--form-outline);
  --content-outline: var(--form-border);
  --content-bg: var(--form-text);
  --content-tx: var(--form-input);

  font-size: 7vw;
}

.i-input {
  font-size: 15vw;
}
