:root {
  --clr_white: #FFFFFF;
  --clr_pearl: #E9E5D9;
  --clr_lightgray: #D0CFD5;
  --clr_porcelain: #bfbfbf;
  --clr_gray: #949597;
  --clr_darkgray: #707483;
  --clr_charcoal: #404040;
  --clr_black: #313131;
  --clr_void: #1a1a1a;
  
  --clr_lightnavy: #4B5264;
  --clr_navy: #3F4555;
  --clr_darknavy: #303A4A;
  --clr_darkblue: #0A153A;
  --clr_gold: #CFBD93;
  --clr_yellow: #EEC853;

  --anemo: #4a7e7f;
  --geo: #BA8B4D;
  --electro: #6559A4;
  --dendro: #A6C938;
  --hydro: #5A80AA;
  --pyro: #B65745;
  --cryo: #78ADBE;
  --none: #b4b4b4;

  --star: #F6CD55;

  --rank1: #a4a4a4;
  --rank2: #5D8C81;
  --rank3: #6FAACA;
  --rank4: #917AB1;
  --rank5: #9A6D43;
}

* {
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 1rem;
  box-sizing: border-box;
	font: inherit;
	vertical-align: baseline;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--clr_black);
}

body {
  display: grid;
  grid-template-rows: 1fr max-content;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

/*NAVBAR*/
nav {
  --nav_bg: var(--clr_lightnavy);
  --nav_tx: var(--clr_gold);
  --nav_close_bg: var(--clr_pearl);
  --nav_close_tx: var(--clr_navy);
  --nav_close_border: var(--clr_gray);
  --nav_border: var(--clr_gold);

  --nav_hover_bg: var(--clr_navy);
  --nav_hover_tx: var(--clr_pearl);
  --nav_hover_close_bg: var(--clr_gold);
  --nav_hover_close_tx: var(--clr_pearl);
  --nav_active_bg: var(--clr_pearl);
  --nav_active_tx: var(--clr_navy);

  --size: 8rem;
  --border: 1rem;


  width: 0;
  height: inherit;
  padding-top: 10rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: -1rem;
  overflow-x: hidden;
  transition: 0.5s;
  border: solid var(--nav_border);
  border-width: 0 0.5rem;
  background-color: var(--nav_bg);
  user-select: none;
  -webkit-user-select: none;
}

nav a {
  display: block;
  border-radius: 10rem;
  margin: 0 1rem;
  padding: 2rem 3.5rem;
  font-size: 3rem;
  color: var(--nav_tx);
  text-decoration: none;
  font-weight: bold;
}

nav .closebtn {
  position: absolute;
  font-size: 4rem;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
  line-height: calc(var(--size) - 2*var(--border));
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 1rem solid var(--nav_close_border);
  background-color: var(--nav_close_bg);
  color: var(--nav_close_tx);
  text-align: center;
}

nav .homebtn {
  --size: 8rem;
  --border: 1rem;

  position: absolute;
  font-size: 4rem;
  top: 1rem;
  left: 1rem;
  padding: 0;
  margin: 0;
  line-height: calc(var(--size) - 2*var(--border));
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 1rem solid var(--nav_close_border);
  background-color: var(--nav_close_bg);
  color: var(--nav_close_tx);
  text-align: center;
}

nav a:hover:not(.closebtn, .active){
  background-color: var(--nav_hover_bg);
  color: var(--nav_hover_tx);
}

nav a:active, nav .active{
  background-color: var(--nav_active_bg) !important;
  color: var(--nav_active_tx) !important;
}

nav .closebtn:hover{
  background-color: var(--nav_hover_close_bg);
  color: var(--nav_hover_close_tx);
  line-height: var(--size);
  border: none;
  box-shadow: 0 0 1.5rem var(--nav_hover_close_tx);
}

/*HEADER*/
header {
  --head_bg: var(--clr_darknavy);
  --head_menu_bg: var(--clr_white);
  --head_menu_tx: var(--clr_navy);
  --head_menu_border: var(--clr_pearl);

  --head_menu_hover_bg: var(--clr_lightnavy);
  --head_menu_hover_tx: var(--clr_pearl);
  --head_menu_hover_border: var(--clr_navy);

  --head_input_bg: var(--clr_pearl);
  --head_input_tx: var(--clr_navy);
  --head_logo_bg: var(--clr_black);
  --head_logo_tx: var(--clr_yellow);

  grid-row: -1;
  display: grid;
  gap: 1rem;
  padding: 0 0.8rem;
  grid-template-columns: min-content auto;
  grid-auto-flow: dense;
  background-color: var(--head_bg);
  place-items: center;
  user-select: none;
  -webkit-user-select: none;
}

.h-menu {
  --size: 4rem;
  --border: 0.2rem;

  height: var(--size);
  aspect-ratio: 1;
  margin: var(--border);
  line-height: calc(var(--size) - 4*var(--border));
  font-size: 2rem;
  border: none;
  background-color: var(--head_menu_bg);
  border: var(--border) solid var(--clr_pearl);
  outline: var(--border) solid var(--head_menu_bg);
  color: var(--head_menu_tx);
  font-weight: bold;
}

.h-menu:hover {
  color: var(--head_menu_hover_tx);
  background-color: var(--head_menu_hover_bg);
  border-color: var(--head_menu_hover_border);
  outline-color: var(--head_menu_hover_bg);
}

.h-button {
  --size: 3.5rem;
  --border: 0.2rem;

  display: flex;
  position: relative;
  height: var(--size);
  width: 15rem;
  border-radius: var(--size);
  background-color: var(--head_input_bg);
}

.h-icon{
  box-sizing: content-box;
  height: calc(1/5*var(--size));
  width: calc(1/5*var(--size));
  margin: calc(2/5*var(--size) - var(--border));
  border: var(--border) solid var(--head_logo_tx);
  box-shadow: 0 0 0 calc(1/5*var(--size) - var(--border)) var(--head_logo_bg);
  border-radius: 100%;
  position: absolute;
  align-self: center;
  background-color: var(--head_logo_bg);
}

.h-input {
  font-size: 1.6rem;
  padding-left: calc(4/5*var(--size));
  height: 100%;
  width: 100%;
  border-radius: inherit;
  outline: none;
  background-color: inherit;
  color: var(--head_input_tx);
  font-weight: bold;
  text-align: center;
}

/*ALERT*/

.alert{
  position: absolute;
  place-self: center;
  text-align: center;
  width: 40rem;
  height: 10rem;
  line-height: 10rem;
  border-radius: 1rem;
  font-size: 2rem;
  border: 0.1rem solid var(--clr_gold);
  background-color: var(--clr_black);
  color: var(--clr_white);
}


/*TOOLTIP*/
#tt {
  position: absolute;
  display: block;
}
#ttcont {
  display: block;
  padding: 0.5rem 1rem;
  background: var(--clr_charcoal);
  color: var(--clr_white);
}

/*BACKGROUNDS*/
.r_1{
  background: url('https://static.wikia.nocookie.net/gensin-impact/images/6/69/Rarity_1_background.png') top left no-repeat;
  background-size: contain;
}

.r_2{
  background: url('https://static.wikia.nocookie.net/gensin-impact/images/d/d4/Rarity_2_background.png') top left no-repeat;
  background-size: contain;
}

.r_3{
  background: url('https://static.wikia.nocookie.net/gensin-impact/images/5/57/Rarity_3_background.png') top left no-repeat;
  background-size: contain;
}

.r_4{
  background: url('https://static.wikia.nocookie.net/gensin-impact/images/c/c9/Rarity_4_background.png') top left no-repeat;
  background-size: contain;
}

.r_5{
  background: url('https://static.wikia.nocookie.net/gensin-impact/images/e/ea/Rarity_5_background.png') top left no-repeat;
  background-size: contain;
}

.s1:after{
  color: var(--star);
  content: '★';
}

.s2:after{
  color: var(--star);
  content: '★★';
}

.s3:after{
  color: var(--star);
  content: '★★★';
}

.s4:after{
  color: var(--star);
  content: '★★★★';
}

.s5:after{
  color: var(--star);
  content: '★★★★★';
}

[data-color] { --color: var(--none); }

[data-color=Anemo] { --color: var(--anemo); }
[data-color=Geo] { --color: var(--geo); }
[data-color=Electro] { --color: var(--electro); }
[data-color=Dendro] { --color: var(--dendro); }
[data-color=Hydro] { --color: var(--hydro); }
[data-color=Pyro] { --color: var(--pyro); }
[data-color=Cryo] { --color: var(--cryo); }

[data-color='3'] { --color: var(--rank3); }
[data-color='4'] { --color: var(--rank4); }
[data-color='5'] { --color: var(--rank5); }