.page {
  --btn_bg: rgba(26,26,26,0.75);
  --btn_tx: var(--clr_white);
  --input_tx: var(--clr_void);
  --input_bg: var(--clr_white);
  --inp_focus_bg: var(--clr_void);
  --inp_focus_tx: var(--clr_white);

  --farm_bg: var(--clr_black);
  --farm_cont_bg: var(--clr_navy);
  --farm_card_bg: var(--clr_pearl);
  --farm_card_tx: var(--clr_darkgray);
  --farm_up_bg: var(--clr_pearl);
  --farm_up_tx: var(--clr_darkblue);
  --farm_up_border: var(--clr_gold);

  --data_tx: var(--clr_white);
  --shadow: var(--clr_void);

  padding: 0;
  
  display: grid;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  grid-gap: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  place-items: start stretch;
  place-content: start stretch;
  background-color: var(--color);
}

.close{
  --size: 4rem;

  position: absolute;
  font-size: 3rem;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
  line-height: var(--size);
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: var(--btn_bg);
  color: var(--btn_tx);
  text-decoration: none;
  text-align: center;
}

#page-container{
  display: contents;
}

.page-data{
  display: grid;
  grid-template-columns: max-content max-content;
  place-items: center start;
  place-self: center;
  gap: 1rem;
  margin-right: 6rem;
}

.page-image{
  max-width: 6rem;
}

.page-name{
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  color: var(--data_tx);
  text-shadow: 0 0 0.7rem var(--shadow);
}

.farm-tbl {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  flex-wrap: wrap;
  place-content: center;
  background-color: var(--farm_bg);
}

.farm-datarow{
  display: contents;
}

.farm-cont {
  display: grid;
  width: max-content;
  grid-template-columns: min-content;
  background-color: var(--farm_cont_bg);
}

.farm-item {
  display: grid;
  width: 5rem;
  grid-template-columns: auto auto;
  grid-template-rows: 5rem 1rem;
  background-color: transparent;
  place-items: center;
  color: var(--farm_card_tx);
}

.completed{
  opacity: 0.4;
}


.farm-image {
  grid-column: span 2;
  display: block;
  max-width: 4rem;
  max-height: 4rem;
}

.p {
  font-size: 0.9rem;
}

.c-inv {
  justify-self: end;
  font-weight: bolder;
}

.c-need {
  justify-self: start;
}

.long{
  grid-template-rows: 4rem 1rem 1rem;
  grid-template-columns: 1fr;
}

.long .farm-image{
  grid-column: span 1;
}

.long .p{
  height: 100%;
  width: 100%;
  text-align: right;
  background-color: var(--farm_card_bg);
}

.page input {
  height: 1rem;
  font-size: 0.8rem;
  min-width: 5rem;
  max-width: 5rem;
  border-radius: 0;
  outline: none;
  background-color: var(--input_bg);
  color: var(--input_tx);
  text-align: center;
}

.page input:focus{
  color: var(--inp_focus_tx);
  background-color: var(--inp_focus_bg);
}

.farm-level{
  background-color: inherit;
}

.farm-lvlbtn{
  place-self: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  outline: none;
  border: .4rem solid var(--farm_up_border);
  background-color: var(--farm_up_bg);
  color: var(--farm_up_tx);
}