.page {
  --page_bg: var(--clr_black);
  --btn_bg: rgba(26,26,26,0.75);
  --btn_tx: var(--clr_white);
  --total_tx: var(--clr_void);
  --total_bg: var(--clr_lightgray);
  --input_tx: var(--clr_void);
  --input_bg: var(--clr_white);
  --inp_focus_bg: var(--clr_void);
  --inp_focus_tx: var(--clr_white);

  --rowi: 2;
  --coli: 2;

  padding: 3rem;
  padding-top: 6rem;
  padding-left: 0;
  display: grid;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  grid-gap: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  place-items: start stretch;
  place-content: start stretch;
  background-color: var(--page_bg);
}

.close{
  --size: 4rem;

  position: absolute;
  font-size: 3rem;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
  line-height: var(--size);
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: var(--btn_bg);
  color: var(--btn_tx);
  text-decoration: none;
  text-align: center;
}

#page-container{
  display: contents;
}

.home-tbl.tbl-inv{
  background-color: var(--page_bg);
  margin-bottom: 2rem;
}

.page .home-name, .page .home-total{
  font-size: 1.5rem;
}

.page .home-total{
  padding: 1rem;
}

.page .home-total.home-inv{
  min-width: 5rem;
  grid-column: var(--coli);
  grid-template-rows: auto;
  background-color: var(--total_bg);
  color: var(--total_tx);
}

.page input {
  height: 1rem;
  font-size: 0.8rem;
  min-width: 5rem;
  max-width: 5rem;
  border-radius: 0;
  outline: none;
  background-color: var(--input_bg);
  color: var(--input_tx);
  text-align: center;
}

.page input:focus{
  color: var(--inp_focus_tx);
  background-color: var(--inp_focus_bg);
}

.dets .home-total{
  grid-template-rows: min-content;
  padding: 0 2rem;
  place-content: center;
}

.dets .home-item{
  grid-template-columns: 1fr;
}

.long .home-total{
  place-content: center;
}

.long .home-total p{
  width: 100%;
  text-align: end;
}

@media screen and (min-width: 600px) {
  .page{
    padding: 6rem;
  }
}

@media screen and (min-width: 880px) {
  .page:not(.page-dets){
    --rowi: 1;
    --coli: 8;

    zoom: 1.2;
  }
  
  .page{
    gap: 1rem 5rem;
  }

  .page .home-sec{
    grid-column: 2;
  }

  .home-tbl.tbl-inv{
    grid-row: span 3;
  }
}

@media screen and (min-width: 1020px) {
  .page:not(.page-dets){
    zoom: 1.3;
  }

  .page-dets{
    --rowi: 1;
    --coli: 7;
  }
}